<div class="sponsor row">
  <div class="col m3 logos">
    <span class="logo">
      <img class="responsive-img" src="{{sponsor.logo}}">
    </span>
  </div>
  <div class="col m9 description">
    <h3>{{sponsor.title}}</h3>
    <div>{{ sponsor.description | safe }}</div>
  </div>
</div>
