{% extends "default.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Schedule</h1>
            </div>
        </div>
    </div>
    <div class="container schedule">
        <div class="row">
            <div class="col s12">
                <ul class="tabs z-depth-2 secondary">
                    <li class="tab col s3">
                        <a href="#day1" class="active primary-text">Day 1</a>
                    </li>
                    <li class="tab col s3">
                        <a href="#day2" class="primary-text">Day 2</a>
                    </li>
                    <li class="col s2 filter">
                        <span>
                            <i class="material-icons">filter_list</i>
                            <span class="hide-on-med-and-down">Filter</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div id="day1" class="col s12" data-day="1">
                <div class="timeslot">
                    <div class="startTime">
                        <span class="hours">10</span>
                        <span class="minutes">00</span>
                    </div>

                    <div class="sessions">
                        <div class="session-wrap">
                            <div class="session">
                                <div class="session-card z-depth-1">
                                    <div class="overlay">
                                        <div class="card-content">
                                            <span class="card-title">Opening Ceremony</span>
                                            <p>English / Charles K Kao Auditorium</p>
                                        </div>
                                        <div class="tags">
                                            <div class="tag"></div>
                                            <span><i class="material-icons">event</i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeslot">
                    <div class="startTime">
                        <span class="hours">14</span>
                        <span class="minutes">00</span>
                    </div>

                    <div class="sessions">
                        <div class="session-wrap">
                            <div class="session">
                                <div class="session-card z-depth-1">
                                    <div class="overlay">
                                        <div class="card-content">
                                            <span class="card-title">COSCUP</span>
                                            <p>Mandarin / NTUST</p>
                                        </div>
                                        <div class="tags">
                                            <div class="tag">
                                                <i class="material-icons">local_offer</i>
                                                <span>Worship</span>
                                            </div>
                                            <span>
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>

                                        <div class="speakers">
                                            <div class="speaker">
                                                <i class="material-icons">person</i>
                                                <div class="person">
                                                    <span class="name">Denny Huang</span>
                                                    <span class="title">SITCON</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="session-wrap">
                            <div class="session">
                                <div class="session-card z-depth-1">
                                    <div class="overlay">
                                        <div class="card-content">
                                            <span class="card-title">IT 9 Information</span>
                                            <p>Brianfuck / 404 Not Found</p>
                                        </div>
                                        <div class="tags">
                                            <div class="tag">
                                                <i class="material-icons">local_offer</i>
                                                <span>IT 9</span>
                                            </div>
                                            <span>
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>

                                        <div class="speakers">
                                            <div class="speaker">
                                                <i class="material-icons">person</i>
                                                <div class="person">
                                                    <span class="name">???</span>
                                                    <span class="title">???</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="session-wrap">
                            <div class="session">
                                <div class="session-card z-depth-1">
                                    <div class="overlay">
                                        <div class="card-content">
                                            <span class="card-title">The LOOP</span>
                                            <p>Cantonese / Club 1004</p>
                                        </div>
                                        <div class="tags">
                                            <div class="tag">
                                                <i class="material-icons">local_offer</i>
                                                <span>HKLUG</span>
                                            </div>

                                            <span>
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>

                                        <div class="speakers">
                                            <div class="speaker">
                                                <i class="material-icons">person</i>
                                                <div class="person">
                                                    <span class="name">Tony Yip</span>
                                                    <span class="title">HKLUG</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="session-wrap">
                            <div class="session">
                                <div class="session-card z-depth-1">
                                    <div class="overlay">
                                        <div class="card-content">
                                            <span class="card-title">Bonjour</span>
                                            <ul class="meta">
                                                <li>French</li>
                                                <li>Rm 404</li>
                                            </ul>
                                        </div>

                                        <div class="tags">
                                            <div class="tag">
                                                <div>
                                                    <i class="material-icons">local_offer</i>
                                                    <span>No Kidding</span>
                                                </div>
                                            </div>
                                            <span>
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>

                                        <div class="speakers">
                                            <div class="speaker">
                                                <i class="material-icons">person</i>
                                                <div class="person">
                                                    <span class="name">Jasmine Tea</span>
                                                    <span class="title">HYS</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="day2" class="col s12" data-day="2">
                Day 2
            </div>
        </div>
    </div>
{% endblock %}