{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-shadow": ["error", {"allow": ["resolve", "reject", "err"]}],
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}