<!doctype html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="{% block meta_desc %}Hong Kong Open Source Conference 2018 (HKOSCon 2018) will be started soon.{% endblock %}">
    <meta name="author" content="Hong Kong Open Source Conference 2018">
    <meta property="og:site_name" content="Hong Kong Open Source Conference 2018">
    <meta property="og:title" content="{% block title %}Hong Kong Open Source Conference 2018{% endblock %}">
    <title>Hong Kong Open Source Conference 2018</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#294454">
    <link rel="manifest" href="/2018/manifest.json">
    <link rel="icon" sizes="48x48" href="https://hkoscon.org/logo.png">
    <link rel="icon" sizes="96x96" href="https://hkoscon.org/logo.png">
    <link rel="icon" sizes="144x144" href="https://hkoscon.org/logo.png">
    <link rel="icon" sizes="192x192" href="https://hkoscon.org/logo.png">
    {%- block style -%}{%- endblock -%}
    {%-  if 'app' in assets.styles -%}
        <link rel="stylesheet" href="{{ assets.styles.app }}">
    {%- endif -%}
</head>
<body data-network="online" class="{% if page_id %}page--{{ page_id }}{% endif %}">
{%- include "navbar.jinja" -%}
<main>{%- block content -%}{%- endblock -%}</main>
{%- include "footer.jinja" -%}

{%- include "easterEggs/pwa.jinja" -%}
{%- include "easterEggs/live.jinja" -%}

{%- include "gdpr.jinja" -%}

<script async src="https://www.googletagmanager.com/gtag/js"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag('js', new Date());</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{%- if 'manifest' in assets.scripts -%}
    <script src="{{ assets.scripts.manifest }}"></script>
{%- endif -%}

{%- if 'vendor' in assets.scripts -%}
    <script src="{{ assets.scripts.vendor }}"></script>
{%- endif -%}

<script src="{{ assets.scripts.app }}"></script>

{%- block script -%}{%- endblock -%}
</body>
</html>
