<div id="gdpr" class="bottom-banner">
    <div class="bottom-banner-body">
        <div class="bottom-banner-content">
            <h4>This website uses cookies</h4>
            <p>
              We use cookies on this website for marketing insights to improve HKOSCon.
              Please allow us in supporting the cause. We promise we'd be good.
            </p>
        </div>
        <div class="bottom-banner-actions">
            <a href="/2018/cookie.html" class="btn waves-effect waves-green btn-flat">Read more</a>
            <button data-reply="agree" class="btn waves-effect waves-green btn-flat">Accept</button>
        </div>
    </div>
</div>
