<div class="navbar-fixed">
    <nav>
        <ul class="left">
            <li>
                <a href="#" data-activates="sidebar" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
        <div class="nav-wrapper container">
            <a href="{{ data.site.basePath }}/" class="brand-logo">HKOSCon 2018</a>
        </div>
    </nav>
</div>

<ul id="sidebar" class="side-nav">
    <li class="logo">
        <a href="{{ data.site.basePath }}/">
            <img src="{{ data.site.basePath }}/images/favicon.png" alt="HKOSCon">
        </a>
    </li>
</ul>