{% extends "default.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Organizing Committee</h1>
            </div>
        </div>
    </div>
    <div class="container document committee">
        <div class="content">
            <div class="group">
                <h2>Conference Chair</h2>
                <ul>
                    <li>Dr. Haggen So</li>
                </ul>
            </div>
            <div class="group">
                <h2>Program Chair</h2>
                <ul>
                    <li>Mr. Sammy Fung</li>
                </ul>
            </div>
            <div class="group">
                <h2>Finance</h2>
                <ul>
                    <li>Dr. Haggen So</li>
                </ul>
            </div>
            <div class="group">
                <h2>Sales</h2>
                <ul>
                    <li>Mr. Sammy Fung</li>
                </ul>
            </div>
            <div class="group">
                <h2>Marketing</h2>
                <ul>
                    <li>Mr. Calvin Tsang</li>
                </ul>
            </div>
            <div class="group">
                <h2>Photo</h2>
                <ul>
                    <li>Mr. Henry Law</li>
                    <li>Ms. Siu Lam</li>
                </ul>
            </div>
            <div class="group">
                <h2>Video</h2>
                <ul>
                    <li>Mr. Sam Chiu</li>
                    <li>Ms. Siu Lam</li>
                </ul>
            </div>
            <div class="group">
                <h2>Web &amp; Mobile App</h2>
                <ul>
                    <li>Mr. Koala Yeung</li>
                    <li>Mr. Tony Yip</li>
                </ul>
            </div>
            <div class="group">
                <h2>Operation</h2>
                <ul>
                    <li>Arthur Yau</li>
                    <li>Chan Wing Sum</li>
                    <li>Claire Wong</li>
                    <li>Law Chong Po John</li>
                    <li>Mak Yan Kei</li>
                    <li>Nicholas Yau</li>
                    <li>Sana Siu</li>
                    <li>Tony Ma</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
