{% extends "default.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Call for Communities</h1>
            </div>
        </div>
    </div>
    <div class="container document">
        <div class="content row">
            <div class="col s12 m8 l10">
                <p>
                    Hong Kong Open Source Conference (HKOSCon) is aimed to promote,
                    support and develop open source projects and communities.
                </p>
                <p>
                    The Call for Communities is now closed.
                </p>

                <div id="participant-communities" class="scrollspy">
                    <h3>Participant Communities</h3>
                    <p>
                        The following communities would participant in HKOSCon 2018 (in alphabetic order):
                    </p>
                    <ul>
                        {%- for community in data.community -%}
                            <li>
                                {{- community.name -}}
                                {%- if community.organizer -%}&nbsp;(Organizer){%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper scrollspy">
                    <div>
                        <ul class="section table-of-contents">
                            <li><a href="#participant-communities">Participant Communities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}