{% extends "default.jinja" %}
{%- block content -%}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Call for Paper Result</h1>
            </div>
        </div>
    </div>

    <div class="container document">
        <div class="content row">
            <div class="col s12 m8 l10">
                <p>
                    Hong Kong Open Source Conference (HKOSCon) is aimed to promote,
                    support and develop open source projects and communities.
                </p>
                <p>
                    Call for paper has come to an end.
                </p>

                <div id="important-date" class="scrollspy">
                    <h3>Important Date</h3>
                    <p>
                        <del><strong>Closing date of this call:</strong>  <time>28 February 2018 (Wedensday)</time><br></del>
                        <strong>Announcement Date of Initial Results:</strong> 15 March 2018 (Thursday)<br>
                        <strong>Tentative Conference Date:</strong> 2-3 June 2018 (Saturday-Sunday)<br>
                    </p>
                </div>

                <div id="apply" class="scrollspy">
                    <h3>Applying</h3>
                    <p>You may apply for the main track at <a href="https://goo.gl/forms/g4srWkTDHMxcBYx03">https://goo.gl/forms/g4srWkTDHMxcBYx03</a></p>
                    <p>Here are the link for applying CFP of different:</p>
                    <ul>
                        {%- for c in data.community -%}
                            {%- if 'cfp' in c -%}
                                <li>
                                    <a href="{{- c.cfp -}}">
                                        {{- c.name -}}
                                    </a>
                                    {%- if c.organizer %} (Organizer){%- endif -%}
                                </li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </div>
                
                <div id="result" class="scrollspy">
                    <h3>Result</h3>
                    {%- for result in data.cfp -%}
                        <section>
                            <h4>{{ result.community }}</h4>
                            <ul>
                                {%- for topic in result.topics  -%}
                                    <li>{{ topic }}</li>
                                {%- endfor -%}
                            </ul>
                        </section>
                    {%- endfor -%}
                </div>
            </div>

            <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper scrollspy">
                    <div>
                        <ul class="section table-of-contents">
                            <li><a href="#important-date">Important Date</a></li>
                            <li><a href="#apply">Apply</a></li>
                            <li><a href="#result">Result</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}