{% extends "default.jinja" %}

{% block content %}
    <div class="theme-area">
        <div class="content">
            <div class="container">
                <h1>Our use of cookies and tracking policy</h1>
            </div>
        </div>
    </div>

    <div class="container document">
        <div class="content row">
            <div class="col s12 m8 l10">
                <div id="cookies" class="scrollspy">
                    <h3>Cookies</h3>
                    <p>
                        Cookies are used to make interactions with our content easy and meaningful.
                        We use cookies (and similar technologies, like HTML5 localStorage) to remember your browsing record
                        and provide information for future development of HKOSCon.
                        We also use cookies to identify a device, for marketing reasons.
                        By using our website, you agree that we can place these types of cookies on your computer or device.
                        If you disable your browser or device’s ability to accept cookies, it will be completely fine.
                    </p>
                </div>
            </div>
            <div class="col s12 m8 l10">
                <div id="tracking-and-analytics" class="scrollspy">
                    <h3>Tracking and analytics</h3>
                    <p>
                        We use a number of third party analytics and service providers to help us evaluate our visitors' use of website;
                        and improve our content and website performance.
                        We only use these third party analytics providers on certain areas of our website,
                        and all of them have signed data protection agreements
                        that limit the type of personal information they can collect and the purpose for
                        which they can process the information.
                    </p>
                </div>
            </div>
            <div class="col s12 m8 l10">
                <div id="data-retention" class="scrollspy">
                    <h3>Data Retention</h3>
                    <p>
                        We have set the data retention period of our Google Analytics account to 14 months.
                    </p>
                </div>
            </div>
            <div class="col s12 m8 l10">
                <div id="license" class="scrollspy">
                    <h3>License</h3>
                    <p>
                        The policy is based on <a href="https://help.github.com/articles/github-privacy-statement" rel="noopener" target="_blank">GitHub Privacy Statement</a>
                        This policy is licensed under this Creative Commons Zero license.
                    </p>
                </div>
            </div>
            <div class="col s12 m8 l10">
                <div id="contact" class="scrollspy">
                    <h3>Contact</h3>
                    <p>
                        If you have concerns about the way HKOSCon is handling your User Personal Information, please let us know immediately.
                        We want to help.
                        You may email us directly at <a href="mailto:conference@opensource.hk">conference@opensource.hk</a> with the subject line "Privacy Concerns."
                    </p>
                </div>
            </div>
            <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper scrollspy">
                    <div>
                        <ul class="section table-of-contents">
                            <li><a href="#cookies">Cookies</a></li>
                            <li><a href="#tracking-and-analytics">Tracking and analytics</a></li>
                            <li><a href="#data-retention">Data Retention</a></li>
                            <li><a href="#license">License</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
