{% extends "default.jinja" %}

{% block content %}
    <div id="banner" class="page-home">
        <div class="banner-content">
            <h1 id="banner-logo">
                <span class="logo-text">Hong Kong Open Source Conference 2018</span>
            </h1>
            <div class="contacts">
                <ul>
                    <li>
                        <a href="https://facebook.com/hkoscon/" target="_blank" title="facebook.com/hkoscon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/hkoscon/" target="_blank" title="twitter.com/hkoscon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="mailto:conference@opensource.hk" title="conference at opensource.hk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}