{% extends "default.jinja" %}

{%- block content -%}
    <div id="fb-root"></div>
    <div id="banner" class="page-home">
        <div class="banner-content">
            <h1 id="banner-logo">
                <span class="logo-text">Hong Kong Open Source Conference 2018</span>
            </h1>
            <div class="actions">
                <ul>
                    <li>
                        <a class="btn"
                            target="_blank"
                            href="https://www.eventbrite.com/e/hong-kong-open-source-conference-2018-tickets-44667134602">Register Now</a>
                    </li>
                </ul>
            </div>
            <div class="contacts">
                <ul>
                    <li>
                        <a href="https://facebook.com/hkoscon/" target="_blank" rel="noopener" title="facebook.com/hkoscon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/hkoscon/" target="_blank" rel="noopener" title="twitter.com/hkoscon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="mailto:conference@opensource.hk" title="conference at opensource.hk"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="days-details">
        <div class="content-wrapper">
            <div class="container">
                <div class="days-details-slogan">
                    <h2>Mark Your Calendar</h2>
                    <p>Be prepared for Open Source awesomeness</p>
                </div>
                <div class="days-details-container">
                    <div class="day-details day-1">
                        <div class="title-wrapper">
                            <div class="title">
                                <div class="label">
                                    <span class="day-date"><span class="day">16</span>th Jun, Sat</span>
                                </div>
                                <h3>Day 1</h3>
                            </div>
                        </div>
                        <div class="content">
                            <p class="slogan">Begin somewhere. Listen.</p>
                            <p>Three track Talks.</p>
                            <ul>
                                <li>Main Track and Open Source</li>
                                <li>Blockchain</li>
                                <li>Haxe</li>
                                <li>R</li>
                                <li>Panel Discussion</li>
                            </ul>
                        </div>
                    </div>
                    <div class="separator hide-on-small-only"></div>
                    <div class="day-details day-2">
                        <div class="title-wrapper"><div class="title">
                                <div class="label">
                                    <span class="day-date"><span class="day">17</span>th Jun, Sun</span>
                                </div>
                                <h3>Day 2</h3>
                            </div></div>
                        <div class="content">
                            <p class="slogan">Carry on. Hands on.</p>
                            <p>Talks, Workshops, Unconference.</p>
                            <ul>
                                <li>Linux</li>
                                <li>MySQL</li>
                                <li>Life &amp; Hacks</li>
                                <li>Mozilla</li>
                                <li>OpenResty</li>
                                <li>Workshops</li>
                                <li>Lightening Talk</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row center-align"><a class="btn black-text" href="./timetable/">Full Schedule</a></div>
            </div>
        </div>
    </div>

    <div id="follow-us" class="page-home">
        <div class="title">
            <h2>News</h2>
            <p>Stay tuned on Facebook and Twitter</p>
        </div>
        <div class="sns-plugins online-only">
            <div class="sns-container">
                <div class="fb-page"
                     data-href="https://www.facebook.com/hkoscon"
                     data-width="500"
                     data-height="600"
                     data-tabs="timeline"
                     data-small-header="true"
                     data-adapt-container-width="true"
                     data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/hkoscon" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/hkoscon">HKOSCon on Facebook</a>
                    </blockquote>
                </div>
            </div>
            <div class="separator"></div>
            <div class="sns-container">
                <a class="twitter-timeline"
                   data-lang="en"
                   data-width="500"
                   data-height="600"
                   data-theme="light"
                   data-link-color="#294454"
                   href="https://twitter.com/hkoscon">
                    <blockquote cite="https://twitter.com/hkoscon">
                        HKOSCon on Twitter
                    </blockquote>
                </a>
            </div>
        </div>
    </div>
{%- endblock -%}

{%- block script -%}
    <script async defer>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{%- endblock -%}
