#banner {
  background-image: url('/2018/images/cover.jpg');
  min-height: 400px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);

  .container {
    padding-top: 20px;
  }

  .logo {
    width: 300px;
    @extend .center
  }
}
