.bottom-banner {
  &.show {
    display: block;
    padding-bottom: 18px;
    opacity: 1;
    top: 553px;
    width: 100%;
    height: auto;
    position:fixed;
    bottom:0;
  }

  animation: none;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: #ffffff;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0;
  background-position-y: 0;
  background-size: auto auto;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  bottom: auto;
  caption-side: top;
  clear: none;
  clip: auto;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  display: inline;
  empty-cells: show;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  hyphens: none;
  list-style: disc;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  overflow: visible;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align-last: auto;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: normal;
  position: fixed;
  z-index: 201;
  top: -800px;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  filter: Alpha(opacity=100);
  color: #2a2a2a;
  font-size: 8pt;
  box-shadow: #121212 2px 2px 14px 2px;
  padding: 0 0 8px;
  line-height: 1.231;
  margin: 0;
  text-rendering: geometricPrecision;
  box-sizing: content-box;

  > .bottom-banner-body {
    line-height: 1.231;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 0;
    overflow: hidden;

    > .bottom-banner-content {
      min-height: 32px;
      padding: 12px 0 8px 8px;

      > h4 {
        margin: 0;
        font-size: 1.4rem;
      }

      > p {
        margin: 0;
        font-size: .9rem;
      }
    }


    > .bottom-banner-actions {
      display: block;
      min-height: 32px;
      float: right;

      .btn {
        &[data-reply=agree] {
          @extend .green-text;
          will-change: background-color, color;
          transition: .5s;
          &:hover {
            @extend .green;
            @extend .white-text;
          }
        }

        &[data-reply=disagree] {
          @extend .red-text;
          will-change: background-color, color;
          transition: .5s;
          &:hover {
            @extend .red;
            @extend .white-text;
          }
        }
      }
    }
  }
}
