.side-nav {
  .logo {
    text-align: center;
    margin: 5rem;

    > a:hover {
      background-color: transparent;
    }

    img {
      width: auto;
      height: 5rem;
    }
  }

  li {
    float: none;
    line-height: 48px;
    > a {
      color: rgba(0,0,0,.87);
      display: block;
      font-size: 14px;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
    }
  }

  .link > a {
    padding-left: 16px;
    line-height: inherit;
    height: inherit;
  }

  .collapsible-body {
    padding: 0;
  }
  .collapsible > li > a.collapsible-header::after {
    content: '▾';
    float: right;
  }
  .bold {
    font-weight: 500;
  }


}