.theme-area {
  background-image: url('/2018/images/banner.jpg');
  background-size: cover;
  background-position: center center;
  > .content {
    height: 30vh;
    position: relative;
    background-color: rgba(0,0,0,.5);

    h1 {
      color: #fff;
      position: absolute;
      font-size: 3em;
      bottom: .5em;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 10px #000;
    }
  }
}