<template data-easter-egg="update">
    <div class="fixed-action-btn">
        <button class="btn btn-large btn-floating pulse secondary">
            <i class="material-icons primary-text large">autorenew</i>
        </button>
    </div>
    <div class="notice-card">
        <i class="material-icons close">close</i>
        <h4>New content is available</h4>
        <p>Please refresh your browser</p>
        <button class="btn primary-text secondary">Refresh</button>
    </div>
</template>