<template data-easter-egg="pwa">
    <div class="fixed-action-btn" data-easter-egg="pwa">
        <button class="btn-floating btn-large secondary">
            <i class="large material-icons primary-text">new_releases</i>
        </button>
    </div>
</template>