.session-card {
  transition: box-shadow 0.5s;
}

#schedule {
  margin-top: 2rem;
  margin-bottom: 2rem;
  &.container {
    width: 90%;
  }

  [data-usage=filter] {
    transition: .5s height;
    z-index: 2;

    > .filter-bar {
      min-height: 50px;
      padding: 1rem 0;
      i.material-icons {
        font-size: 14px;
      }
      button {
        cursor: pointer;
        border: none;
        background: inherit;
      }
    }

    > .filter-items {
      padding: 2rem;
      transition: all .5s;
      background-color: white;
      &.hide {
        max-height: 0;
      }
      > .filter-type ul {
        margin: 8px 0 0;
        padding: 0;
        font-size: 15px;
        > li {
          display: inline-block;
          height: 32px;
          font-size: 13px;
          font-weight: 500;
          color: rgba(0,0,0,0.6);
          line-height: 32px;
          padding: 0 12px;
          border-radius: 16px;
          background-color: #e4e4e4;
          margin-bottom: 5px;
          margin-right: 5px;
          cursor: pointer;
          transition: background-color .2s;

          &:first-of-type {
            margin-left: 0;
          }

          &.active {
            @extend .z-depth-1;
            background-color: $secondary-color;
            border-radius: 0;
          }
        }
      }
    }
  }

  [data-day] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .timeslot {
      display: flex;
      flex-direction: row;
      margin-top: 40px;

      > .startTime {
        padding-left: 24px;
        min-width: 110px;
        color: rgba(0, 0, 0, .6);

        .hours {
          font-size: 3rem;
          font-weight: 300;
          letter-spacing: -0.04em;
        }
        .minutes {
          font-size: 1.5rem;
          margin-left: 3px;
        }

        @media screen and (max-width: 933px) {
          padding-left: 0;
          min-width: 60px;

          .hours {
            font-size: 1.6rem;
            letter-spacing: -0.02em;
          }
          .minutes {
            font-size: 1rem;
          }
        }
      }

      .sessions {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media only screen and (min-width: 993px) {
          flex-direction: row;
          flex: 1;
          flex-basis: 0.000000001px;
        }

        > .session-wrap.notReady {
          > .session {
            cursor: default;
            > .session-card {
              .tags span {
                cursor: default;
              }
              &:hover {
                @extend .z-depth-1;
                .tags span {
                  opacity: 0;
                }
              }
            }
          }
        }

        > .session-wrap.deactive {
          filter: grayscale(80%);
          > .session {
            background-color: rgba(0, 0,0,0.4);
          }
        }

        > .session-wrap {
          padding: 0 8px;
          display: flex;
          flex-direction: column;
          @media only screen and (min-width: 993px) {
            flex: 1;
            flex-basis: 0.000000001px;
          }
          @media only screen and (max-width: 993px) {
            margin-bottom: 1em;
          }
          flex: 1 1 auto;

          > .session {
            flex: 1 1 auto;
            display: flex;
            cursor: pointer;
            flex-direction: column;

            > .session-card {
              width: 100%;
              flex: 1 1 auto;
              display: flex;

              &:hover {
                @extend .z-depth-4;
              }

              .overlay {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
              }
              .card-content {
                padding: 24px;
                flex-basis: auto;

                > .card-title {
                  font-size: 1.3em;
                  line-height: 1.8em;
                  font-weight: 400;
                }

                > .meta {
                  margin: 8px 0 0;
                  padding: 0;
                  font-size: 15px;
                  color: #727272;
                  > li {
                    display: inline-block;

                    &:not(:last-of-type)::after {
                      margin-left: 5px;
                      margin-right: 5px;
                      content: "/";
                    }
                  }
                }
              }

              .tags {
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-grow: 1;

                position: relative;
                font-size: 13px;
                color: #727272;

                > .tag {
                  margin-right: 24px;
                  padding: 16px 24px;
                  flex: 1;
                  flex-basis: 0.000000001px;
                  div {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                  }
                  i.material-icons {
                    margin-right: 8px;
                    font-size: 13px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    vertical-align: middle;
                    fill: currentcolor;
                    stroke: none;
                    width: 14px;
                    height: 14px;
                  }
                }

                > span {
                  cursor: pointer;
                  margin-left: 16px;
                  padding: 16px 24px;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  display: inline-flex;
                  opacity: 0;
                  transition: .2s opacity;
                }
              }

              &:hover .tags > span {
                opacity: 1;

                &:hover {
                  > i.material-icons {
                    color: $primary-color;
                  }
                }
              }

              .speakers {
                @extend .primary;
                @extend .secondary-text;

                display: flex;
                flex-direction: column;

                .speaker {
                  align-items: center;
                  display: flex;
                  margin: 4px 0;
                  flex-direction: row;
                  align-items: stretch;

                  .thumbnail {
                    padding: 0.5rem 1rem;
                    i.material-icons {
                      display: inline-flex;
                      align-items: center;
                      justify-content: center;
                      position: relative;
                      vertical-align: middle;
                      fill: currentcolor;
                      stroke: none;
                      font-size: 3rem;
                      width: 3rem;
                      height: 3rem;
                    }
                    img {
                      width: 3rem;
                      height: auto;
                      border-radius: 50%;
                    }
                  }
                  .person {
                    line-height: 1;
                    z-index: 1;
                    flex: 1;
                    flex-direction: column;
                    padding: 0.5em 0;
                    > span {
                      display: block;
                      padding: 0.2em 0.2em 0.2em 0;
                    }
                    .name {
                      display: block;
                      flex: 1;
                      font-weight: bold;
                    }
                    .title {
                      display: block;
                      flex: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


#modal {
  &.show {
    .modal {
      z-index: 1003;
      display: block;
      opacity: 1;
      top: 10%;
      transform: scaleX(1) scaleY(1);

      .header {
        display: flex;
        margin-bottom: 10px;
        h2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.7rem;
          line-height: 2.2rem;
          color: #212121;
          flex: 1;
        }
        .speaker-thumbnails {
          padding-left: 1rem;
          ul {
            margin: 0;
            list-style-type: none;
          }
          .speaker-thumbnail {
            display: inline-block;
            .material-icons {
              font-size: 4em;
            }
            img {
              width: 4em;
              height: auto;
              border-radius: 50%;
            }
          }
        }
      }

      .summary {
        font-size: 1.2rem;
        line-height: 2rem;
        .material-icons {
          font-size: 1em;
          line-height: 2rem;
        }
        .misc > span {
          margin-right: 1em;
        }
      }

      .metadata {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .main-info {
          display: flex;
          flex-direction: row;

          .info {
            flex: 1;
            flex-basis: 0.000000001px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .event-card .card-content > div {
              display: flex;
              margin: .5rem auto;
              span {
                margin-left: 1rem;
              }
            }

            .person-card .card-content {
              > .speakers {
                display: block;
                .speaker {
                  display: flex;
                  .thumbnail {
                    max-width: 120px;
                    flex: 1;
                    flex-direction: column;
                    padding: 1em 0 0;
                    text-align: center;
                    padding-right: 12px;
                    .material-icons {
                      font-size: 120px;
                    }
                    img {
                      width: 100% !important;
                      height: auto !important;
                      border-radius: 50%;
                    }
                  }
                  .details {
                    flex: 5;
                    padding-left: 12px;

                    .name {
                      font-size: 1.2rem;
                    }
                    .description {
                      padding: 1em 0 0.7em;
                      p {
                        margin: 0.5em 0;
                      }
                    }
                    .affiliations {
                      ul {
                        list-style-type: none;
                        li {
                          display: inline-block;
                          &:after {
                            display: inline-block;
                            content: "/";
                            margin: 0 0.5em;
                          }
                        }
                        li:last-child {
                          &:after {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                // fix smaller screen displays (e.g. iPhone SE)
                @media screen and (max-width: 400px) {
                  .speaker {
                    display: block;
                    .thumbnail {
                      padding: 0 0 1em;
                      max-width: 100%;
                      .material-icons {
                        display: none;
                      }
                    }
                    .details {
                      padding: 0;
                    }
                  }
                }

              }
            }
          }
        }
      }

      .share {
        button.facebook {
          background-color: #3B5998;
        }
        button.twitter {
          background-color: #1DA1F2;
        }
      }
    }
    .modal-overlay {
      z-index: 1002;
      display: block;
      opacity: 0.5;
    }
  }

  .modal {
    animation-name: animatetop;
    animation-duration: .5s;
  }

}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:10%; opacity:1}
}
