.topic {
  font-size: 1.1rem;
  .row {
    margin-left: .75rem;
    margin-right: .75rem;
    margin-bottom: 0;
  }

  hr {
    width: 100%;
    color: $primary-color;
    background-color: $primary-color;
    height: 2px;
    border: none;
  }

  h3, h4, h5 {
    color: $primary-color;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.8rem;
  }

  .meta-list {
    font-size: 1.3rem;
    > .meta {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;

      > div {
        display: inline-block;
        margin-right: 2rem;
      }

      i.material-icons, span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .speaker {
    .card-image {
      @media #{$small-and-down} {
        max-height: 250px;
      }
      @media #{$medium-and-down} {
        max-height: 300px;
      }

      @media #{$large-and-up} {
        max-height: 500px;
      }

      overflow-y: hidden;
      > img {
        margin-top: -10%;
        vertical-align: bottom;
        width: 100%;
      }

      > span.card-title {
        color: $secondary-color;
        font-weight: 500;
      }
    }

    h5 {
      font-size: 1.4rem;
    }
  }
}
